<ion-header [translucent]="true">
  <ion-toolbar>
     <!--boton para regresar-->
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>Personajes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Encabezado -->
  <ion-header collapse="condense">
    <ion-toolbar>
      <h1>GAMEPLAYERS</h1>
      <h5>lista de jugadores principales</h5>
    </ion-toolbar>
  </ion-header>

  <!-- Lista de personajes -->
  <div class="personajes-container">
    <!--se manda a llama la informacion para mostrarse en pantalla tanto de lo de ver detalle y personajeSeleccionados, que ahora es personaje-->
    <ion-card class="personaje-card" (click)="verDetalle(personaje)" *ngFor="let personaje of personajesSeleccionados">
      <img [src]="personaje.imagen" class="personaje-img">
      <ion-card-header>
         <!-- Nombre del personaje que se muestra en el encabezado-->
        <ion-card-title class="personaje-nombre">{{ personaje.nombre }}</ion-card-title>
      </ion-card-header>
      <!-- lugar donde se alojara la descripcion que llevara cada personaje -->
      <ion-card-content>
        <p>{{ personaje.descripcion }}</p> 
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>

<!--Se crea el footer o pie de pagina en el cual se pondran los routerLink para redirigir y conectar las paginas-->
<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button routerLink="/principal">
      <!--Se agregan los respectivos ionos que acompañaran los nombres de las paginas para hacer mas facil la vista -->
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/personajes">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Personajes</ion-label>
    </ion-tab-button>
    <ion-tab-button routerLink="/jugabilidad">
      <ion-icon name="game-controller-outline"></ion-icon>
      <ion-label>Jugabilidad</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>